body {
  background-color: #2c2f33;
}

h1, p {
  color: #cccccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.trashcan {
  width: 31px;
  opacity: 0;
  cursor: pointer;
  padding-right: 11px;
  padding-top: 8px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #2FB8FF;
  border-color: #2FB8FF;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
