body {
  background-color: #2c2f33;
}

h1, p {
  color: #cccccc;
}

.trashcan {
  width: 16px;
  opacity: 0;
  transition-duration: 0.5s;
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
